

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    
    environment:
        DB_HOST: db
        DB_NAME: finance
        DB_USER: postgres
        DB_PASSWORD: postgres
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3001:80"
    depends_on:
      - backend

  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: finance
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql


volumes:
  db_data:
